#header{
	position:relative;
	width:1000px;
	height:138px;
	background:url(../images/imagestwo/header2.jpg) no-repeat;
}
#contents{
	width:1000px;
	height:auto;
	background:url(../images/6%20images/child_bg.jpg) repeat-x;
}
#top{
	width:1000px;
	height:322px;
}
.top1{
	width:772px;
	height:289px;
	margin-left:113px;
	background:url(../images/6%20images/20.jpg);
}
.top2{
	width:772px;
	height:21px;
	margin-left:113px;
	margin-top:9px;
	background:url(../images/6%20images/19.jpg) no-repeat left;
}
.hotcp{
	width:760px;
	height:21px;
	margin-left:12px;
	background:url(../images/6%20images/6line.jpg) no-repeat bottom;
}
.hotcp li{
	color:#10110c;
	list-style:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	margin-left:7px;
	*margin-left:-7px;
	padding-top:2px;
}
#middle{
	width:1000px;
	height:auto;
}
.img{
	margin-left:126px;
	_margin-left:63px;
	margin-top:39px;
	float:left;
}
.word{
	width:530px;
	min-height:352px;
    margin-left:38px;
	padding-bottom:20px;
	padding-top:20px;
	float:left;
}
.word h1{
	width:505px;
	height:16px;
	text-align:center;
	line-height:16px;
	color:#446b00;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:16.5px;
}
.word p{
	color:#2F2F2D;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	letter-spacing:-1px;
	line-height:23px;
}
.wordtop{
	margin-left:23px;
}
.kong{
	clear:both;
}