#header{
	position:relative;
	width:1000px;
	height:138px;
	background:url(../images/imagestwo/header2.jpg) no-repeat;
}
#contents{
	width:1000px;
	height:641px;
	background:url(../images/subnews1/child_bg.jpg) repeat-x;
}
#top{
	width:1000px;
	height:322px;
}
.top1{
	width:771px;
	height:292px;
	margin-left:113px;
	background:url(../images/5%20images/24.jpg);
}
.top2{
	width:771px;
	height:21px;
	margin-left:113px;
	margin-top:9px;
	background:url(../images/5%20images/19.jpg) no-repeat left;
}
.hotcp{
	width:759px;
	height:21px;
	margin-left:12px;
	background:url(../images/5%20images/5line.jpg) no-repeat bottom;
}
.hotcp li{
	color:#10110c;
	list-style:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	margin-left:7px;
	*margin-left:-7px;
	padding-top:2px;
}
#middle{
	width:1000px;
	height:319px;
	position:absolute;
}
#left{
	width:269px;
	height:297px;
	position:absolute;
	margin-left:113px;
	margin-top:26px;
	background:url(../images/subnews1/04.png);
	_background:url(../images/subnews1/05.gif);
}
.sidebar1{
	width:520px;
	height:267px;
	position:absolute;
	margin-left:-150px;
}
.sidebar1 h1{
	width:500px;
	height:16px;
	text-align:left;
	line-height:16px;
	color:#426b01;
	font-size:16px;
	margin-bottom:9px;
}
.sidebar1 li{
	width:520px !important;
	height:18px;
	color:#4F4F4D;
	text-align:left;
	line-height:18px;
	font-size:12.5px;
	letter-spacing:-1px;
	margin-bottom:4.7px;
	*margin-bottom:2px;
	background:url(../images/subnews1/line.jpg) no-repeat bottom right;
}
.sidebar1 li a{
	color:#4F4F4D;
	text-decoration:none;
}
.sidebar1 li a:hover{
	color:#426b01;
}
.tiaozhuan1{
	width:285px;
	*width:290px;
	width:296px !important;
	position:absolute;
	color:#444644;
	height:26px;
	margin-left:80px;
	margin-top:270px;
}
.tiaozhuan1 li{
	height:26px;
	float:left;
}
.tiaozhuan1 input{
	width:23px;
	height:12px;
	line-height:12px;
	color:#7E7E7C;
	font-size:12px;
	text-align:center;
	margin-top:10px;
	background:#F6F6F6;
}
.tiaozhuan1 input.text{
	width:22px;
	height:12px;
	margin-top:9px;
	text-align:center;
}
.gong,.ye{
	font-size:13px;
	margin-top:12px;
}
.go{
	color:#7e7e7c;
	font-size:20px;
	margin-top:5px;
}
.go a{
	color:#7e7e7c;
}
.go a:hover{
	color:#7e7e7c;
}

.sidebar2{
	width:70px;
	height:245px;
	position:absolute;
	margin-left:317px;
	*margin-left:306px;
	margin-top:25px;
	float:left;
}
.sidebar2 li{
	width:70px;
	height:18px;
	color:#83867F;
	text-align:left;
	line-height:18px;
	font-size:12px;
	letter-spacing:-0.99px;
	margin-bottom:4.7px;
	*margin-bottom:2px;
}
#right{
	width:370px;
	height:295px;
	position:absolute;
	margin-left:515px;
	margin-top:12px;
}

