body{
	width:1261px;
	margin:0 auto;
	background:url(../images/img3/body-bg1.jpg) repeat-x;
}
#content{
	width:959px;
	height:1134px;
	background:#fff;
}
#banner{
	width:960px;
	height:198px;
	background:url(../images/img3/banne4.jpg);
}
#underbanner{
	width:932px;
	height:37px;
	border-bottom:1px solid #697686;
}
#underbanner h2{
	width:100px;
	margin-left:9px;
	margin-top:-15px;
}
.underbanner1{
	font-size:16px;
}
.underbanner2{
	width:200px;
	height:14px;
	font-size:14px;
	margin-left:754px;
	margin-top:-22px;
}
#bothtwo{
	width:960px;
	clear:both;
}
#left{
	width:171px;
	height:877px;
	margin-left:18px;
	margin-top:15px;
	float:left;
	background:url(../images/img2/siderbarBlue.jpg) no-repeat;
}
#left ul{
	width:140px;
	color:#000;
	font-size:15px;
	margin-left:15px;
	margin-right:15px;
	margin-top:28px;
}
#left ul li{
	width:140px;
	height:27px;
	line-height:27px;
	text-align:center;
	margin-bottom:15px;
	border-bottom:1px solid #000;	
}
#left ul li a{
	width:140px;
	height:27px;
	line-height:33px;
	*line-height:27px;
    color:#000;
	margin-top:0px;
    text-decoration:none;
    display:inline-block;
}
#left ul li a:hover{
    color:#000;
    text-decoration:none;
    background:url(../images/img2/li_bg0.png) no-repeat center;
}
#right{
	width:611px;
	height:877px;
	margin-top:15px;
	color:#535353;
	line-height:160%;
	margin-left:76px;
	margin-top:15px;
	font-size:13px;
	float:left;
}
.right1{
	width:597px;
	height:176px;
	margin-top:20px;
}
.right11{
	width:284px;
	height:176px;
	float:left;
}
.right12{
	width:236px;
	height:176px;
	float:right;
	margin-top:20px;
}
.right12 p{
	color:#535353;
	font-size:13px;
}
.right12 p span{
	color:#F94233;
}
.right12 p span a{
	color:#F94233;
	text-decoration:none;
}
.right12 p span a:hover{
	color:#F94233;
	text-decoration:none;
}
.down{
	clear:both;
	margin-top:13px;
	margin-left: 150px;
}
.down a{
	width:15px;
	height:10px;
	color:#165d8b;
	padding-top:3px;
	padding-right:3px;
	padding-bottom:3px;
	padding-left:3px;
	font-size:14px;
	margin-right:2px;
	border-top-color:#f1f1f1;
	border-bottom-color:#f1f1f1;
	border-right-color:#f1f1f1;
	border-left-color:#f1f1f1;
	border-top-width:1px;
	border-right-width:1px;
	border-bottom-width:1px;
	border-left-width:1px;
	border-top-style:solid;
	border-bottom-style:solid;
	border-left-style:solid;
	border-right-style:solid;
}
.down a:hover{
	color:#ffffff;
	background:#339;
}
.one{
	color:#ffffff;
	background:#339;
}
	
