@charset "utf-8";
/* CSS Document */
#content{width:1000px;
          margin:0auto;}
#shang{width:1000px;
       height:400px;
	  }
  #left{width:500px;
       height:400px;
	   float:left;
/*	   border:1px #000000 solid;
*/	  /* background:#903;*/
	   }
  #left h1{margin-top:10px;
           margin-left:10px;
		   }
  #left ul{margin-left:0px;
           margin-top:10px;
		   _margin-left:25px;}
  #left ul li{width:115px;
              height:100px;
			  margin-left:10px;
			  _margin-left:2px;
			  float:left;
			  }
  #right{width:490px;
         height:400px;
		 float:right;
/*		 border:1px #000000 solid;
*//*		 background:#F00;
*/		 }
  #right h1{width:320px;
	        margin-top:50px;
            margin-left:30px;
			font-size:18px;
             }
  #right ul{width:430px;
            height:250px;
			margin-left:40px;
            }
  #right ul li{height:20px;
               margin-top:3px;
	           font-size:14px;
			   text-align:left;
               font-family:Georgia, "Times New Roman", Times, serif;
               list-style:none;
			   color:#333;
			   }
	.bbb{font-size:14px;
		 margin-top:-20px;
		 float:right;}		   
   .aaa{clear:both;
        width:435px;
        height:200px;
		font-size:14px;
		text-align:left;
		margin-top:20px;
		padding-top:5px;
		padding-left:5px;
		font-family:Georgia, "Times New Roman", Times, serif;
        background:#ECECEC;
		}
	.aaa span a{line-height:20px;
				 text-align:top;
				 font-color:#F30;
				 display:inline;
				 margin-top:-20px;
				 } 
#xia{width:1000px;
	   margin-top:20px;
	   border-top:2px #003399 dotted;
/*       background:#F96;
*/	   
	   }
	#xia ul{width:600px;
	        height:300px;
/*	        background:#F60;
*/			}
	#xia ul li{ text-align:left; 
	            }
				
	.bbb{width:130px;
	     height:110px;
		 margin:10px;
		 _margin:8px;
		 float:left;}
	.bbb  dt{width:130px;
	         height:110px;
			 _height:109
		     background:#CF0;
			 }
	.bbb  dd{width:130px;
	         height:80px;
			 margin-top:3px;
			 _margin-left:-39px;
			 }
	 .bbb dd a{color:#333;
	            font-size:13px;
				}
	 .bbb dd a:hover{color:#F30;
	                  text-decoration:underline;}