@charset "utf-8";
/* CSS Document */
*{margin:0; padding:0;}
body{ font-family:"微软雅黑"; font-size:14px;}
a{ text-decoration:none;}
ul{ list-style:none;}
#box{height:auto; width:550px; border:1px solid #aaa; margin:0 auto; overflow:hidden;}
.top{height:40px;}
.top a{height:16px; width:16px; display:block; float:right; margin:5px;}

.btn-list-on{background:#fff url(../images/btns.jpg) no-repeat -21px 0px;}
.btn-car-off{background:#fff url(../images/btns.jpg) no-repeat -38px -32px;}

#box ul li{height:auto; width:164px; border:1px solid #999; float:left; margin:5px; background:-color:#ccc;}
.a-img{height:164px; width:164px; display:block; overflow:hidden;}
p a,p span{display:block; line-height:20px; padding-left:10px;}
.bottom{height:40px;line-height:40px; text-align:center; background-color:#ccc;}
.small{height:50px; width:50px; float:left;display:block;}

